@model tp2.Models.Movie

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>deleting</title>
</head>
<body>
<div>
    <h2>The movie you deleted is called is @Model.Name</h2>  
</div>
</body>
</html>