
@model IEnumerable<dynamic>

@{
    ViewData["Title"] = "Index des Films";
}

<!DOCTYPE html>

<html>
<head>
    <title>Movies</title>
</head>
<body>
<div>
 <table class="table">
    <thead>
    <tr>
        <th>Movie Id</th>
        <th>Movie Name</th>
        <th>Movie Genre</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Genre.GenreName </td>
        </tr>
    }
    </tbody>
        </table>    
</div>
</body>
</html>