@model TP3.Models.Customers
 

@{
    Layout =null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Details</title>
</head>
<body>
<div>
    
    <table class="table">
    <thead>
    <tr>
    <th>Name</th>
    <th>MembershiptypeId</th>
    <th>Id</th>
    <tbody>
    
    
        <tr>
            <td>@Model.Name</td>
            <td></td>
            <td>@Model.Id</td>
           
        </tr>
    
    </tbody>
    </table>
</div>
</body>
</html>